section {
	border: 5px solid #000;
}

#button-restart {
	display: none;
}

.character-photo {
	display: block;
}

#character-selection {
	display: flex;
	justify-content: space-around;
}

.character-container {
	border: 1px solid #000;
	text-align: center;
}

// .selected-character {
// 	border: 1px solid green;
// }

// .enemy-character {
// 	border: 1px solid red;
// }

#your-character {
	display: flex;
	justify-content: space-around;
}

#your-enemies {
	display: flex;
	justify-content: space-around;
}

#fight-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#game-message {
	text-align: center;
}