section {
	border: 5px solid #000;
}

div {
	border: 2px solid #666;
}

#button-restart {
	display: none;
}

.character-photo {
	display: block;
}

#character-selection {
	display: flex;
	justify-content: space-around;
}

.character-container {
	border: 1px solid red;
	text-align: center;
}

#your-character {
	display: flex;
	justify-content: space-around;
}

#your-enemies {
	display: flex;
	justify-content: space-around;
}